<div class="container">

  <div class="aboutUs">
    <h2>This is who we are!</h2>
  </div>

  <div class="team sherwin">
    <img src="<%=image_path("icon2.jpg")%>" alt="sherwin">
    <hr>
    <p>Im Coooooooooooooooool</p>
  </div>

  <div class="team xc">
    <img src="<%=image_path("icon.jpg")%>" alt="xc">
    <hr>
    <p>Im cooooooooooooool</p>
  </div>

  <div class="team masha">
    <img src="<%=image_path("icon3.png")%>" alt="masha">
    <hr>
    <p>Im Cooooooooooool</p>
  </div>

  <div class="footer">
    <h2><%= link_to "About Us", about_path %></h2>
  </div>

</div>
