<div class="container">

  <h1 class="aboutTitle">About Us </h1>
  <hr>
  <div class="aboutUs">
    <p>Dear Justin and Kay, we accept the fact that we had to sacrifice a whole week of WDI for wahtever it is you wanted us to learn.
      But we think you're crazy to give us such open ended directions on a project showing off what we've learned and who we are.
      You see our work as you want to see it - in the simplest terms, in the most convenient definitions.
      But what we found out is that each of us is a FE engineer...</p>
      <p> ... a BE engineer</p>
      <p> ... and completely unsure of where we want to end.</p>
      <p> Does that answer your question? Sincerely yours, the 41 club.</p>
  </div>

  <div class="team sherwin">
    <img src="<%=image_path("icon2.jpg")%>" alt="sherwin">
    <hr>
    <p><a href="https://github.com/Sherwin32">Github</a></p>
    <p><a href="mailto:sherwin.shann@gmail.com">E-mail</a></p>
  </div>

  <div class="team xc">
    <img src="<%=image_path("icon.jpg")%>" alt="xc">
    <hr>
    <p><a href="https://github.com/xdong002">Github</a></p>
    <p><a href="mailto:xdong0022@gmail.com">E-mail</a></p>
  </div>

  <div class="team masha">
    <img src="<%=image_path("icon3.png")%>" alt="masha">
    <hr>
    <p><a href="https://github.com/marbisman">Github</a></p>
    <p><a href="mailto:maria.arbisman@gmail.com">E-mail</a></p>
  </div>

</div>
