<div class="allBoxes">

<% @documents.reverse_each do |d| %>

  <div class="allBox">

    <div class="allFileContainer">
      <img  src='<%=image_path("file.png")%>'>
    </div>

    <div class="allFileName">
      <span><%= d.name %></span>
    </div>

    <div class="progressBar">

    </div>

  </div>



  <% end %>

</div>
