<div class="container">

  <div class="mainContent">
    <div class="contentNav">

      <a id="allDocs" href="">All</a>
      <a id="processingDocs" href="">Special Request</a>
      <button class="btn button-post btn3d" type="button" data-toggle="modal" data-target="#myModalUploadDoc">+</button>
      <h3 class="float-right">New Upload</h3>

    </div>
    <hr>

    <!-- <button class="btn btn-info btn-lg btn3d" type="button" name="signup" data-toggle="modal" data-target="#myModalSignUp">Sign Up</button> -->

    <div id="boxForDocsToRender">
      <%= render 'all' %>
    </div>

    <script type="text/javascript">
      $('#allDocs').on('click', function(e){
        e.preventDefault()
        $('#boxForDocsToRender').html(`<%= render 'all' %>`)
      })

      $('#processingDocs').on('click', function(e){
        e.preventDefault()
        $('#boxForDocsToRender').html(`<%= render 'processing' %>`)
      })
    </script>

  </div>

</div>
