body {
  background-image: url('http://www.freeppt.net/template/business_graphic_ppt_template.jpg');
  background-size: cover;
  text-align: center;
}

.btn-info {
  margin: 4% 3%;
  float: right;
}

.btn3d {
	position: relative;
	top: -6px;
	border: 0;
	transition: all 40ms linear;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 2px;
	margin-right: 2px;
  width: auto;
  float: right;
  height: 6vh;
  margin: 5% 3%;
  background-color: rgb(0, 153, 153);
  color: white;
}

.btn3d:active:focus,
.btn3d:focus:hover,
.btn3d:focus {
	-moz-outline-style: none;
	outline: medium none;
}

.btn3d:active,
.btn3d.active {
	top: 2px;
}

.btn3d.btn-info {
	box-shadow: 0 0 0 1px #00a5c3 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 2px 0 0 #348FD2, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
	background-color: #39B3D7;
}

.btn3d.btn-info:active,
.btn3d.btn-info.active {
	box-shadow: 0 0 0 1px #00a5c3 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	background-color: #39B3D7;
}

.container {
  margin-bottom: 20px;
}

header {
  display: inline-block;
  background-image: url('header.png');
  height: 80px;
  width: 100%;
  background-size: 100% 100%;
}

.logo {
  height: 10vh;
  display: inline-block;
  float: left;
  width: 50%;
  text-align: left;
  color: white;
  font-size:
}

.logo img {
  margin-left: 3%;
  margin-top: 1%;
  height: 80%;
  display: inline-block;
}

.logo h2 {
  display: inline-block;
  vertical-align: top;
  font-size: 4vh;
}

.signin {
  height: 80px;
  display: inline-block;
  float: right;
  width: 35%;
}

.searchTerm {
  height: 50%;
  width: 50%;
}

.search img{
  display: inline-block;
  height: 20px;
}

.fix {
  clear: both;
}

.welcomeImage {
  height: 500px;
  width: 80%;
  display: inline-block;
  margin-top: 2%;
}

.topics {
  display: inline-block;
  width: 100%;
}

.title {
  margin: 2% 0;
}

.topic {
  display: inline-block;
  width: 30%;
  min-height: 250px;
  height: cover;
  margin: 0 1.5%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5%;
  vertical-align: top;
}

.profileBody {
  margin-top: 4%;
  width: 100%;
  display: inline-block;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 1%;
}

.profileBody-left {
  display: inline-block;
  width: 50%;
  height: 100%;
  vertical-align: middle;
  text-align: left;
  margin-top: 2%;
}

.profileBody-left h1 {
  margin: 15 0 0 10;
}

.userName h4 {
  position: relative;
  display: inline-block;
  margin-top: 2%;
}

.currentCity h4 {
  position: relative;
  display: inline-block;
  margin-top: 2%;
}

.joinDate h4 {
  position: relative;
  display: inline-block;
  margin-top: 2%;
}

.editicon {
  position: relative;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
}

.editicon:hover {
  cursor:pointer;
}

.profileBody-right {
  display: inline-block;
  width: 20%;
  height: 70%;
  vertical-align: middle;
}
.personalIcon{
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
}

.personalEditicon {
  position: relative;
  height: 15px;
  display: inline-block;
  vertical-align: bottom;
}

.personalEditicon:hover {
  cursor:pointer;
}

.posts {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
  display: inline-block;
  background-image: url('./images/post.jpg');
  border-radius: 1%;
  background-size: 100% 100%;
  color: white;
}

.post {
  text-align: justify;
  width: 60%;
  display: inline-block;
  color: white;
  border-bottom: 2px solid white;
  margin-bottom: 2%;
}

.item {
  max-width:960px;
  max-height:500px;
}

.item img {
  min-width:100%;
  min-height: 400px;
}

.city-list {
  background-color: rgba(100, 100, 100, 0.5);
  margin-top: 2%;
  border-radius: 5%;
  display: inline-block;
  margin-right: 1%;
  width: 24%;
}

.city {
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid grey;
  margin: 0 auto;
  border-radius: 15%;
  margin-bottom: 5%;
  cursor:pointer;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.7) inset, 0 0 0 2px rgba(255, 255, 255, 0.7) inset, 0 2px 0 0 rgba(255, 255, 255, 0.7), 0 5px 5px 1px rgba(255, 255, 255, 0.7);
}

.city:active,
.city.active {
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.7) inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	background-color: white;
}

.city img {
  height: 25px;
  margin-top: 3%;
}

.selected-city {
  background-color: rgba(0, 100, 100, 0.5);
  margin-top: 2%;
  border-radius: 5%;
  display: inline-block;
}

.selected-city-header {
  height: 300px;
}

.selected-city-name {
  margin-top: 2%
}

.selected-city-name h1 {
  font-weight: bold;
}

.selected-city-img {
  margin-top: 2%
}

.button-post {
  border-radius: 50% 50% 50% 50%;
  box-shadow: 0 0 0 1px darkgrey inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 2px 0 0 darkgrey, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  background-color: white;
  margin: 0;
  margin-right: 1vw;
  margin-top: 1.1vh;
  color: black;
  height: 100%;
  font-weight: bold;
}

.float-right {
  float: right;
  display: inline-block;
  color: white;
  margin-top: 1vh;
  margin-bottom: 0;
  margin-right: 1vw;
}


.button-post:active,
.button-post.active {
	box-shadow: 0 0 0 1px darkgrey inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	background-color: white;
}

.button-left {
  text-align: left;
}

.button-left label {
  color: white;
  font-size: 20px;
  margin-left: 1%;
}

.footer {
  height: cover;
  background-color: CornflowerBlue;
  width: 80%;
  margin-top: 3%;
  display: inline-block;
}

.footer a {
  color: black;
}

.aboutUs {
  background-color: rgba(100,100,0,0.7);
  height: cover;
  width: 90%;
  display: inline-block;
  margin: 0 0 3% 0;
}

.team {
  width: 30%;
  height: 500px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5%;
  margin: 20px 10px;
  vertical-align: top;
  color: white;
}

.team img {
  border-radius: 50% 50% 50% 50%;
  height: auto;
  margin: 3% 0 2% 0;
  width: 30%;
}

.mainContent {
  background-color: CadetBlue;
  min-height: 65vh;
  height: cover;
  width: 90%;
  display: inline-block;
  margin-top: 3%;
}

.contentNav {
  height: 30px;
  width: 100%;
  text-align: left;
}

hr {
  margin-top: 1%;
}

.contentNav a {
  color: white;
  font-size: 4vh;
  padding: 0 1%;
  vertical-align: text-bottom;
  border-right: 2px solid white;
}

.contentNav h3 {
  font-size: 3vh;
}


.content {
  display: inline-block;
  height: cover;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 1%;
  border: 2px groove white;
  border-radius: 4%;
}

.fileContainer {
  height: 13vh;
  max-width: 100%;
  text-align: left;
  padding-left: 2%;
  padding-top: 1%;
  vertical-align: top;
}

.file {
  height: 100%;
  display: inline-block;
}

.file img {
  height: 100%;
}

.fileName {
  max-height: 5vh;
  max-width: 10vw;
  display: inline-block;
  font-size: 2.5vh;
}

.completedFile {
  height: 100%;
  display: inline-block;
  float: right;
}

.completed {
  height: 100%;
}

.check {
  height: 30%;
  vertical-align: bottom;
  margin-left: -30%;
  margin-bottom: 5%;
}

.progressBar {
  height: 4vh;
  width: 80%;
  border: 2px solid white;
  display: inline-block;
  margin-top: 5%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  margin-bottom: 2vh;
}

.progress {
  margin-top: 3%;
  height: 3.5vh;
  width: 80%;
  display: inline-block;
  border: 2px solid white;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.progress-bar span {
  font-weight: bold;
}

.progressWord {
  margin-top: -3.2vh;
  font-size: 2.2vh;
}

.meterInitial {
  width: 15%;
  height: 100%;
  background-color: grey;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  font-weight: bold;
}

.meterprocessing {
  width: 35%;
  height: 100%;
  background-color: yellow;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  font-weight: bold;
}

.meterFinalCheck {
  width: 75%;
  height: 100%;
  background-color: lime;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  font-weight: bold;
}

.meterCompleted {
  width: 100%;
  height: 100%;
  background-color: rgb(43,194,83);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  font-weight: bold;
}

a:hover {
  color: darkred;
  text-decoration: none;
}

.flashBox {
  width: 30%;
  display: inline-block;
  margin: 0;
}

.dropdown {
  margin-top: 1vh;
  float: left;
}

.requestBox {
  float: left;
  height: 3vh;
  width: 25%;
  margin-top: 1vh;
}

.allBoxes{
  text-align: left;
}

.allBox {
  height: 20vh;
  width: 20%;
  background-color: rgba(255, 255, 255, 0.7);
  margin-left: 3.7%;
  margin-bottom: 2%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border-radius: 5%;
  border: 2px groove white;
}

.allFileContainer {
  width: 40%;
  height: 60%;
  display: inline-block;
}

.allFileContainer img {
  height: 100%;
}

.allFileName {
  display: inline-block;
  min-height: 30%;
  max-height: 50%;
  width: 55%;
}

.toolBtn {
  vertical-align: middle;
  display: inline-block;
  margin: 0 2%;
}

.newRequest {
  min-height: 60vh;
  height: cover;
  width: 80%;
  background-color: CadetBlue;
  display: inline-block;
}

.badgebox
{
    opacity: 0;
}

.badgebox + .badge
{
  text-indent: -999999px;
	width: 27px;
}

.badgebox:focus + .badge
{
    box-shadow: inset 0px 0px 5px;
}

.badgebox:checked + .badge
{
	text-indent: 0;
}

.btn-default {
  margin: 2%;
  min-width: 10%;
  width: cover;
}

#sortInputForm {
  display: inline-block;
  margin: 0;
  width: 100%;
  margin-top: 5%;
}

#rmvInputForm {
  display: inline-block;
  margin: 0;
  margin-top: 5%;
}

#woInputForm {
  display: inline-block;
  margin: 0;
  margin-top: 5%;
}

#customizeInputForm {
  display: inline-block;
  margin: 0;
  margin-top: 5%;
}

form{
  text-align: center;
}

.requestFileName {
  margin-bottom: 5%;
}

.inputForm {
  height: 25vh;
  width: 24%;
  display: inline-block;
  vertical-align: top;
}

.fileReviewBox {
  height: cover;
  width: 80%;
  background-color: Azure;
  display: inline-block;
  margin-bottom: 2%;
  text-align: left;
}

.fileReview {
  overflow-x: auto;
  margin: 1%;
}
